<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="__PUBLIC__/js/lib/jquery-1.11.1.min.js"></script>
	<script src="http://webapi.amap.com/maps?v=1.3&key=219eec60563547dc9051fc6a0cf53e9e&callback=init"></script>
	<script src="__PUBLIC__/js/map/map.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			Math.random() 
		})
	</script>
	<style type="text/css">
		#container{  
	    width:400px;  
	    height:300px;
	    margin:0;
	    overflow:hidden;  
	    }
	</style>
	<body>
		<div><img src="http://qr.liantu.com/api.php?bg=f3f3f3&fg=red&gc=222222&el=l&w=100&m=10&text=1"/></div>
		<h1>杨阳上树</h1>
		<div style="width:400px;height:300px;border:1px solid gray" id="container"></div>
		<form id="form">
			<textarea  style="width: 300px; height: 200px;" name="content"></textarea>
			<input  name=""/>
			<input  name=""/>
			<input  name=""/>
			<input  name=""/>
		</form>
	</body>
</html>
